.footer {
    display: flex;
    justify-content: center;
    background: #c1c1c1 url("../images/bg-poke.webp");
}

.btn {
    margin: 20px;
    font-size: large;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 20px 26px;
    text-align: center;
    background-color: #ce2020;
    color: #f1f1f1;
    transition: ease-in-out 0.2s;
}

.btn:hover {
    background-color: #c52121e0
}