.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 60px;
    gap: 50px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #232b2b;
}

.sprite {
    width: 100px;
    transition: width 0.3s ease;
    position: relative;
    z-index: 1;
}

.card:hover .sprite {
    width: 140px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 220px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
}